
body {
    margin: 0px;
    background-color:  rgba( 207, 155, 88, 0.28 );
   
    background-image: url(assets/June-Homeownership-photo-1200x631-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0px;
    text-align: center;
}

/* #fakeBody {
    background-image: url(assets/June-Homeownership-photo-1200x631-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0px;
    text-align: center;
} */

#logoAdv {
    padding-top: 1%;
    height: 30%;
    filter: drop-shadow(5px 5px 4px #000);
}

h1 {
    margin: 1%;
    color: #F8EDA4;
    font-family: 'Inter', sans-serif;
}

#primeiroH2 {
    font-family: 'Inter', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    color: #F8EDA4;
    margin-bottom: 30px;
}

#segundoH2{
    color: #545454;
    font-family: 'Inter', sans-serif;
    left: 50%;
    margin-top: 20px;
}
#conhecaAreas {
    margin-top: 40px;
    font-size: 140%;
}

#botaoWpp{
    color: #000000;
    font-size: 180%;
    background-color: #25D366;
    border: 2px solid #000000;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin-top: 1px;
    padding: 8px;
    padding-left: 90px;
    padding-right: 90px;
}

#botaoWpp2 {
    border: none;
    background-color: #25D366;
    margin-left: 90%;
	position: sticky;
	width:60px;
	height:15%;
	bottom:4%;
	right:2%;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    cursor: pointer;
    box-shadow: rgb(14, 13, 13) 8px -5px 10px;
}

#iconeZap{
    font-size: 40px;
}

#direitoDeF {
    color: #CF9B58;
}

#blocosDeConteudo{
    justify-content: space-between;
    display: flex;
}



#divorcio {
    border-radius: 50px;
    border: 2px solid #545454;
    background: linear-gradient(#545454 0%,#545454 50%,#f6f6f6 40%,#f6f6f6 50%);
    width: 20%;
    display: inline-block;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    backdrop-filter: blur(10px);
    box-shadow: rgb(207, 155, 88) 20px -10px;
}



.tituloBox {
    font-size: 200%;
    color: #CF9B58;
    margin-top: -12%;
}

.textoBox {
    font-size: 130%;
    color: #545454;
    padding: 10px;
}

.textoBox2 {
    font-size: 115%;
    color: #545454;
    padding: 10px;
}

.textoBox3 {
    font-size: 135%;
    color: #545454;
    padding: 10px;
}



#iconContrato {
    width: 100px;
    margin-bottom: 10%;
}

#coverFundo{
    height: 400px;
    background: rgba( 54, 54, 54, 74% );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
}

#containerKa {
    margin-top: 80px;
    display: flex;
    background-color: #f6f6f6;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    box-shadow: rgb(207, 155, 88) 20px -10px;
    border: 2px solid #545454;
} 

#nomeKarol {
    width: fit-content;
    margin-bottom: 1px;
    margin-left: 10px;
    font-size: 300%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #CF9B58;
}

#OAB {
    width: fit-content;
    margin-top: 1px;
    margin-left: 10px;
    font-size: 200%;
    color: #545454;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bioKaTexto {
    font-size: 150%;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #545454;
}



#fotoKarol {
    border-radius: 48px;
    width: 350px;
    border: 5px solid #545454;
}

#beneficios {
    margin-top: 0px;
    font-size: 400%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #545454;
}

#containerBeneficios {
    display: flex;
}

#divorcio2 {
    border-radius: 50px;
    border: 2px solid #545454;
    background: #545454;
    width: 25%;
    display: inline-block;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
    backdrop-filter: blur(10px);
    box-shadow: rgb(207, 155, 88) 20px -10px;
}

.divBeneficio {
    box-shadow: rgb(207, 155, 88) 20px -10px;
    background-color: #545454;
    margin: 5%;
    width: 30%;
    text-align: center;
    justify-content: center;
}

.tituloBeneficios {
    font-size: 150%;
    color: #CF9B58;
}

.tituloBeneficios2 {
    font-size: 130%;
    color: #CF9B58;
    padding: 1px;
}

.textoBeneficios {
    background-color: #f6f6f6;
    height: 50%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 11%;
    font-size: 150%;
    border-radius: 30px;
}

.textoBeneficios2 {
    background-color: #f6f6f6;
    height: 50%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 11%;
    font-size: 170%;
    border-radius: 30px;
}


@media (max-width: 768px) {
    #containerBeneficios {
        flex-direction: column;
    }

    #logoAdv {
        height: 15%;
    }

    #coverFundo {
        height: 650px;
    }

    #segundoH2{
        color: #545454;
        font-family: 'Inter', sans-serif;
        left: 50%;
        margin-top: 20%;
    }

    #blocosDeConteudo{
    justify-content: center;
    display: flex;
    flex-direction: column;
    }

    #divorcio {
        border-radius: 50px;
        border: 2px solid #545454;
        background: linear-gradient(#545454 0%,#545454 50%,#f6f6f6 40%,#f6f6f6 50%);
        width: 80%;
        display: inline-block;
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
        backdrop-filter: blur(10px);
        box-shadow: rgb(207, 155, 88) 20px -10px;
    }

    #containerKa {
        margin-top: 80px;
        display: flex;
        flex-direction: column; /* Alterado para coluna em telas menores */
        align-items: center; /* Centraliza os elementos na coluna */
        background-color: #f6f6f6;
        border-radius: 50px;
        margin: 0 20px;
        margin-top: 15px;
        padding: 5px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        box-shadow: 20px -10px rgb(207, 155, 88);
        border: 2px solid #545454;
    }
    
    #nomeKarol, #OAB, #bioKaTexto {
        width: 100%; /* Ocupa toda a largura do containerKa */
        margin: 10px 0; /* Espaçamento entre os elementos */
    }
    
    #nomeKarol {
        font-size: 2em; /* Reduzi o tamanho da fonte para telas menores */
    }
    
    #OAB {
        font-size: 1.5em;
    }
    
    #bioKaTexto {
        font-size: 1.2em; /* Ajustei o tamanho da fonte */
    }
    
    #fotoKarol {
        border-radius: 48px;
        width: 100%; /* Ocupa toda a largura do containerKa */
        max-width: 98%; /* Limita a largura máxima da imagem */
        border: 5px solid #545454;
    }
    

    #beneficios {
        font-size: 300%;
    }

    #divorcio2 {
        width: 90%;
    }


    #botaoWpp2 {
        position: -webkit-sticky;
        position: sticky;
        bottom: 10%; /* Ajuste a distância do fundo conforme necessário */
        right: 8%; /* Ajuste a distância da direita conforme necessário */
        width: 60px;
        height: 60px; /* Ajuste a altura conforme necessário */
        background-color: #25D366;
        color: #FFF;
        border: none;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        box-shadow: 8px -5px 10px rgba(14, 13, 13, 0.5);
    }

    /* #botaoWpp2 {
        border: none;
        background-color: #25D366;
        margin-left: 80%;
        position: -webkit-sticky;
        width: 60px;
        height: 10%;
        bottom: 45%;
        right: 2%;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        cursor: pointer;
        box-shadow: rgb(14, 13, 13) 8px -5px 10px;
    } */

    body{
        overflow-x: hidden;
    }
}